/* start globale rules */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;500;600;700;800;900;1000&display=swap');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #25855a;
  --second-color: #25855a;
  --third-color: #f0fff4;
  --background-color: #1f714c;
  --main-font-color: #000;
  --second-font-color: #fff;
  --main-paragraph-color: #848484;
  --main-hover-color: #0647A8;
  --btns-hover--color: #D2D2D2;
  --main-transition: all 0.3s ease-in-out;
  --main-border-radius: 35px
}

body {
  font-family: 'Cairo', sans-serif;
  direction: rtl;
  color: var(--main-font-color);
  height: 1000vh;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* Small screens (up to 767px) */
@media only screen and (max-width: 767px) {
  .container {
    width: 90%;
  }
}

/* Medium screens (768px - 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 85%;
  }
}

/* Large screens (992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    width: 80%;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

section {
  margin-top: 11rem;
}

/* Small screens (up to 767px) */
@media only screen and (max-width: 767px) {
  section {
    margin-top: 6rem;
  }
}

/* end globale rules */

.main-btn {
  background-color: var(--background-color);
  color: var(--second-font-color);
  padding: 0.7rem 3rem;
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transitin);
  border: 2px solid transparent;
  font-weight: 500;
}

@media only screen and (min-width: 1170px)and (max-width:1443px) {
  .main-btn {

    padding: 0.7rem 1.5rem;

  }
}

@media only screen and (min-width: 992px)and (max-width:1169px) {
  .main-btn {

    padding: 0.7rem 1rem;

  }
}



.main-btn:hover {
  border-color: var(--main-color);
  background-color: transparent;
  color: var(--main-color);
}

.main-btn.second-btn {
  background-color: transparent;
  border-color: var(--main-color);
  color: var(--main-color);
}

.main-btn.second-btn:hover {
  border-color: transparent;
  background-color: var(--background-color);
  color: var(--second-font-color);
}

@media only screen and (max-width: 991px) {


  .main-btn:hover {
    border-color: var(--third-color);
    background-color: transparent;
    color: var(--second-font-color);
  }

  .main-btn.second-btn {
    border-color: transparent;
    background-color: var(--background-color);
    color: var(--second-font-color);
  }

  .main-btn.second-btn:hover {
    border-color: var(--third-color);
    background-color: transparent;
    color: var(--second-font-color);
  }
}

@media only screen and (max-width: 767px) {

  .main-btn {

    padding: 0.7rem 2rem;

  }
}