nav {
    background-color: var(--second-font-color);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    transition: box-shadow 0.3s ease;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -ms-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    z-index: 10000;
}

.nav-scroll {
    box-shadow: 0px 0px 10px 4px rgba(37, 133, 90, 0.18);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(37, 133, 90, 0.18);
    -moz-box-shadow: 0px 0px 10px 4px rgba(37, 133, 90, 0.18);
}


nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*medium*/
@media only screen and (min-width: 992px)and (max-width:1443px) {
    nav .container {
        width: 95%;
    }
}

nav .container .logo-link {
    width: 200px;

}

nav .container .logo-link img {
    width: 100%;
}

nav .container .nav-links {
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

nav .container .nav-links .links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--main-font-color);
}

@media only screen and (min-width: 992px)and (max-width:1155px) {
    nav .container .nav-links .links {

        font-size: 1.2rem;

    }
}






nav .container .nav-links .links .link:not(:last-of-type) {
    margin-left: 3rem;
}

.nav-links .links .link {
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.nav-links .links .link a {
    color: var(--main-font-color);
    position: relative;

}

.nav-links .links .link .nav-link {
    overflow: hidden;
    padding: 10px 0;
}

.nav-links .links .link .nav-link a {
    padding: 10px 0;

}

.nav-links .links .link .nav-link a::after {
    position: absolute;
    content: "";
    background-color: var(--main-color);
    height: 2px;
    width: 100%;
    top: 85%;
    left: 100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.nav-links .links .link:hover a::after {
    left: 0;
}

.nav-links .links .link a.active::after {
    left: 0;
}

nav .container .nav-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

@media only screen and (min-width: 767px)and (max-width:991px) {
    nav .container .nav-btns {
        justify-content: space-around;
    }
}

nav .container .nav-btns a:not(:last-of-type) {
    margin-left: 1rem;
}

.link.menu {
    position: relative;
    padding: 10px 0;
}

.link.menu svg {
    margin: 0 5px;
}

.link.menu span {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.drop-down {
    background-color: var(--main-color);
    position: absolute;
    width: 200px;
    top: calc(100% + 10px);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    opacity: 0;
    z-index: -1;
}

.drop-down.show {
    opacity: 1;
    top: 100%;
    z-index: 100;
}

.drop-down .drop-down-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 1rem 0;
}

.drop-down .drop-down-list .drop-link:not(:last-child) {
    border-bottom: 1px solid var(--third-color);
    padding: 1rem 0;
}

.drop-down .drop-down-list .drop-link {
    padding: 1rem 0;
}

.drop-down .drop-down-list .drop-link a {
    padding: 0 1rem;
    width: 100%;
    display: block;
    color: var(--second-font-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);

}

.drop-down .drop-down-list .drop-link a:hover {
    margin-right: 0.5rem;
    color: var(--btns-hover--color);
}

.toggle-btn {
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}



@media only screen and (max-width:991px) {
    .nav-links {

        position: absolute;
        background-color: var(--main-color);
        width: 100%;
        right: 100%;
        top: 100%;
    }

    .nav-links .links {
        flex-direction: column;

    }

    .nav-links .links .link {
        width: 100%;
        margin: 0 !important;
        padding: 1rem 2rem;
    }

    .nav-links .links .link .nav-link {
        padding: 0;
    }

    .nav-links .links .link .nav-link a {
        display: block;
        width: 100%;
        color: var(--second-font-color);
        padding: 0;
    }

    .nav-links .links .link .nav-link a::after {
        background-color: transparent;
    }

    .nav-links .links .link:hover {
        padding-right: 2.5rem;
        background-color: #287b56;
    }


    .nav-links .links .link span {
        display: block;
        width: 100%;
        color: var(--second-font-color);
    }

    .drop-down {
        width: 100%;
        left: 0;
    }

    .drop-down .drop-down-list .drop-link a {
        padding: 0 2rem;


    }

    nav .container .nav-btns {
        position: absolute;
        background-color: var(--main-color);
        width: 100%;
        right: 100%;
        top: calc(100% + 307.7px);
        padding: 1rem 2rem;
    }

    nav .container .nav-btns a:not(:last-of-type) {
        margin-left: 0rem;
    }

    .toggle-btn {
        display: block;
    }
}

nav .container .nav-btns.show {
    right: 0%;
}

.nav-links.show {
    right: 0%;
}