.prayers-section .container {
  width: 70%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .prayers-section .container {
    width: 80%;
  }
}

@media only screen and (max-width: 767px) {
  .prayers-section .container {
    width: 95%;
  }
}

.prayers-section .container .bg-div {
  background-color: var(--main-color);
  padding: 3rem;
  color: var(--second-font-color);
  border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -ms-border-radius: var(--main-border-radius);
  -o-border-radius: var(--main-border-radius);
  background-image: url(../../../Assets/Home/bg-prayers.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .prayers-section .container .bg-div {
    padding: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .prayers-section .container .bg-div {
    padding: 1.2rem;
  }
}

.prayers-section .container .bg-div .prayers-time {
  width: 100%;
  margin-bottom: 1.5rem;
}

.prayers-section .container .bg-div .prayers-time .date {
  font-size: 1.5rem;
  color: var(--btns-hover--color);
}

@media only screen and (max-width: 767px) {
  .prayers-section .container .bg-div .prayers-time .date {
    font-size: 1.3rem;
  }
}

.prayers-section .container .bg-div .prayers-time .date .day {
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  color: var(--second-font-color);
}

@media only screen and (max-width: 767px) {
  .prayers-section .container .bg-div .prayers-time .date .day {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}

.prayers-section .container .bg-div .prayers-time .date .day svg {
  margin-left: 1rem;
  font-size: 3.5rem;
}

@media only screen and (max-width: 767px) {
  .prayers-section .container .bg-div .prayers-time .date .day svg {
    font-size: 2.5rem;
  }
}

.prayers-section .container .bg-div .city {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 767px) {
  .prayers-section .container .bg-div .city {
    margin-bottom: 2rem;
  }
}

.prayers-section .container .bg-div .city h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
  .prayers-section .container .bg-div .city h1 {
    font-size: 2rem;
  }
}

.prayers-section .container .bg-div .city .time {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prayers-section .container .bg-div .city .time span {
  margin-left: 1rem;
}

.prayers-section .container .bg-div .prayers-cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.prayers-section .container .bg-div .prayers-cards .prayer-card {
  background-color: #144931;
  padding: 2rem 2.5rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin: 1rem;
}

.prayers-section .container .bg-div .prayers-cards .prayer-card span {
  font-size: 1.2rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .prayers-section .container .bg-div .prayers-cards .prayer-card {
    margin: 1rem 0;
    width: calc(50% - 1rem);
  }
}

@media only screen and (max-width: 767px) {
  .prayers-section .container .bg-div .prayers-cards .prayer-card {
    width: 80%;
    padding: 1.2rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }

  .prayers-section .container .bg-div .prayers-cards .prayer-card span {
    font-size: 1rem;
  }

}

.prayers-section .container .bg-div .prayers-cards .prayer-card h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .prayers-section .container .bg-div .prayers-cards .prayer-card h1 {
    font-size: 1.8rem;

  }
}

.location-req {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.location-req p{
  margin-bottom: 1rem;
}
.main-btn.second-btn.location-btn {
  background-color: var(--third-color);
  border: none;
}

.main-btn.second-btn.location-btn:hover {
  background-color: #c5dfcc;
  color: var(--main-color);
}