.login-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
    padding: 0;
}





.login-section .container .form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    padding: 3rem;
    background-color: var(--main-color);
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
}
@media only screen and (max-width: 767px) {
    .login-section .container .form {
        width: 100%;
        margin-top: 5rem;
        padding: 2rem 1.5rem;
    }
}

@media only screen and (min-width: 767px)and (max-width:991px) {
    .login-section .container .form {
        width: 80%;
    }
}
.login-section .container .form .input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second-font-color);
    margin-bottom: 2rem;
    padding: 0.8rem 1rem;
    border-radius: var(--main-border-radius);

}

.login-section .container .form .input-container svg {
    font-size: 1.2rem;
    transition: var(--main-transition);
    color: #727272;
    margin-left: 0.7rem;

}


.login-section .container .form input {
    font-size: 1.2rem;
    background-color: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
    color: #727272;
    padding: 0;
}

.login-section .container .form input:focus {
    color: var(--main-color);
}

.login-section .container .form input::placeholder {
    color: #727272;
    transition: var(--main-transition);
}

.login-section .container .form input:focus::placeholder {
    color: var(--main-color);
}

.form .form-title {
    margin-bottom: 5rem;
    color: var(--second-font-color);
    font-size: 2rem;
    position: relative;
    text-align: center;
}

.form .form-title::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 4px;
    background-color: var(--second-font-color);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -ms-border-radius: var(--main-border-radius);
    -o-border-radius: var(--main-border-radius);
}

.main-btn.form-btn {
    background-color: var(--second-font-color);
    color: var(--main-color);
    border-color: var(--second-font-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.main-btn.form-btn:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}

.input-container button {
    border: none;
    background-color: transparent;
}